<div class="container">
    <div>
        <h3>TEST</h3>

        <a href="../api/FSObjects">api/FSObjects</a>
        <hr />
        <a href="../api/FSObjects/c">api/FSObjects/c</a>
        <hr />
        <a href="../api/FSObjects/e">api/FSObjects/e</a>
        <hr />
        <a href="../api/FSObjects/t">api/FSObjects/t</a>
        <hr />


        <h2><a href="/home">File System Browser :</a></h2>

        <div ng-app="FSBrowser">
            <div ng-controller="FSBControl">

                <table ng-if="fsDirs != null" id="sizesTbl">
                    <tr>
                        <th>Less 10 MB</th>
                        <th>10 MB - 50 MB</th>
                        <th>More 100 MB</th>
                    </tr>
                    <tr>
                        <td>{{ lessThanTen }}</td>
                        <td>{{ notMoreFifty }}</td>
                        <td>{{ moreHandred }}</td>
                    </tr>
                </table>

                <h4 ng-if="currentPath != null">Current path: {{currentPath}}</h4>

                <h4 ng-if="parentPath != null">Parent path: {{parentPath}}</h4>

                <p>
                    @* DRIVES VIEW : *@
                    <ul ng-repeat="drive in fsDrives">
                        <li class="drvLi">
                            <button class="drvBtn" ng-click="driveClick(fsDrives[$index])"> {{drive}} </button>
                        </li>
                    </ul>

                    @* DIRECTORIES VIEW : *@
                    <div ng-if="parentPath.length > 2">
                        <b>
                            <a ng-click="parentClick(parentPath)"> ... </a>
                        </b>
                    </div>
                    <br />
                    <ul ng-repeat="dir in fsDirs">
                        <li>
                            <span ng-if="dir.IsDirectory==true">
                                <a ng-click="dirsClick(fsDirs[$index])">
                                    {{dir.Name}}
                                    {{dir.ParentPath}}
                                     - DIR -
                                    {{dir.FilesLess10}}
                                    {{dir.NotMore50}}
                                    {{dir.MoreThan100}}
                                </a>
                            </span>
                            <span ng-if="dir.IsDirectory==false">
                                {{dir.Name}}
                                {{dir.ParentPath}}
                                 - file -
                                {{dir.FilesLess10}}
                                {{dir.NotMore50}}
                                {{dir.MoreThan100}}
                            </span>
                        </li>
                    </ul>
                </p>

            </div>
        </div>

    </div>
</div>